//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(21) rem(25) rem(21) rem(25);
	line-height: math.div(22 , 18);

	background-color: $secondBackgroundColor;
	font-weight: 500;
	font-size: rem(18);
	color: $whiteColor;
	white-space: nowrap;
	border-radius: rem(10);
	transition: all 0.2s ease 0s;
	.menu-open & {
		color:$whiteColor;
		background-color: $secondBackgroundColor;
		border: none;
	}





	@media (any-hover: hover) {
		&:hover {
			background-color: #0e680b;
		
			// color:$mainColor;
			
		}
	}
	&._fw {
		width: 100%;
	}
	&_border{
		border: 1px solid #263238;
			border-radius: 10px;
			padding: rem(20) rem(25);
			background-color: transparent;
			color: #263238;
			@media (any-hover: hover) {
				&:hover {
					background-color: #2b353a;
					border: transparent;
					color:$whiteColor;
					
				}
			}
	}
	
}
