//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(21) rem(25) rem(21) rem(25);
	line-height: math.div(22 , 18);
	justify-content: center;
	background-color: $secondBackgroundColor;
	font-weight: 500;
	font-size: rem(18);
	color: $whiteColor;
	white-space: nowrap;
	border-radius: rem(10);
	transition: all 0.2s ease 0s;
	&:hover{
		background-color: rgb(0, 102, 0);
	}
	.menu-open & {
		@media (max-width:$mobile){
			color:$whiteColor;
			background-color: $secondBackgroundColor;
			border: 1px solid $secondBackgroundColor;
			&:hover{
				background-color:rgb(0, 102, 0);
			}
		}
		
		
	}





	
	&._fw {
		width: 100%;
	}
	&_border{
			border: 1px solid #263238;
			border-radius: 10px;
			padding: rem(20) rem(44);
			background-color: transparent;
			color: #263238;
			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
					border-color: $secondBackgroundColor;
					color:$secondBackgroundColor;
								
										
							@media (max-width:$tablet){
								// background-color: $whiteColor;
								border: 1px solid $secondBackgroundColor;
								color:$whiteColor;
								
					}
						
					
				}
			}
			
			
	}
	
}
